.gitignore
.terraform.lock.hcl
touch
# Terraform
.terraform/
*.tfstate
*.tfstate.*
.crash.log
terraform.tfvars
terraform.tfvars.json

# Terraform plan files
*.tfplan
# AWS credentials (VERY IMPORTANT)
.aws/
**/.aws/

# Environment variables
.env
.env.*

# Logs
*.log

# OS / Editor
.DS_Store
.idea/
.vscode/

